/* body{
    /* background-color: blue; */
    /* padding: 0px;
    margin: 0px; */

.login-back{
    /* background-color: aqua; */
    /*background-image: url("../../public/image/BluePurpleModernLoginPageDesktopPrototype.png");*/
    background-size: cover;
    height: 100vh;
    width: 205.5vh;
    padding: 0px;
    margin: 0px;
}