.btn-details{
  border: none;
  border-radius: 20px;
  margin: auto;
}

.btn-details:hover{
  background-color: #034359;
  color: white;
}

.demandePage{
  min-height: 100vh;
  background-color: #034359 !important;
}

.connexion{
  background-color: #107533;
  color: white;
  /* border-radius: 20px; */
  border: none;
  padding: 10px 20px;
}