.unDoneStep{
  border-radius: 20px;
  background-color: white;
  color: black;
}

.unDoneStep:hover{
  letter-spacing: 0.1rem;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  /* border: 1px solid black !important; */
  /* border-color: inherit; */
  outline: 0;
  box-shadow:none !important;
}

input:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  /* border: 1px solid black !important; */
  /* border-color: inherit; */
  outline: 0;
  box-shadow:none !important;
}

.doneStep{
  background-color: #ccddcc;
  color: aliceblue;
  border-radius: 20px;
}
.doneStep:hover{
  letter-spacing: 0.1rem;
}

.activeStep{
  border-radius: 20px;
  background-color: #107533;
  color: white;
}

.activeStep:hover{
  letter-spacing: 0.1rem;
}

.btn-soumission{
  background-color: #107533;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}

.btn-soumission:hover{
  box-shadow: 1px 1px 15px rgb(158, 158, 158);
}

.btn-step{
  background-color: white;
  color: black;
  border-radius: 30px;
  border: 1px solid black;
  padding: 10px;
}

.btn-step:hover{
  box-shadow: 1px 1px 15px rgb(158, 158, 158);
  background-color: rgb(236, 232, 232) ;
}